
 #container{
    width: 1920px;
    height: 1080px;
    background-color: #F7F7F7;
    padding: 200px 200px;
}

#mainContainer{
    width: 1520px;
    height: 590px;
    margin: 0px auto;
}
#mainTitle {
    font-weight: 900;
    line-height: 60px;
    font-size: 60px;
    color: #C8C8C8;
    margin-bottom: 70px;
}
#mainTitle span{
    color: #F56363;
}
#idContainer{
    width: 1520px;
    height: 460px;
    display: flex;
    gap: 70px;
}
#photoBox{
    width: 850px;
    height: 460px;
    border-radius: 30px;
    background-image: url('../img/mainImg.png');
}
#idPwdBox{
    width: 600px;
    height: 460px;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 50px 50px;
}
#idPwdSmallBox{
    width: 500px;
    height: 165px;
    margin-bottom: 20px;
}
#idBox{
    width: 500px;
    height: 89px;
    margin-bottom: 10px;
}
#idBox input{
    width: 500px;
    height: 66px;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    color: #9E9E9E;
    padding: 20px 25px;
    margin-bottom: 10px;
}
#idCheckMsg{
    color: #F56363;
    font-size: 13px;
    line-height: 13px;
}
#pwdBox input{
    width: 500px;
    height: 66px;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    color: #9E9E9E;
    padding: 20px 25px;
    margin-bottom: 10px;
}
#loginBtnBox{
    width: 500px;
    height: 146px;
    margin-bottom: 20px;
}
#loginBtn{
    width: 500px;
    height: 68px;
    border-radius: 10px;
    border: none;
    background-color: #F56363;
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
#joinBtn{
    width: 500px;
    height: 68px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    color: #5F5F5F;
    font-size: 18px;
    font-weight: 500;
}
#findBox{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 14px;

}
#idFind{
    color: #5F5F5F;
}
#findLine{
    color: #EDEDED;
}
#pwdFind{
    color: #5F5F5F;
}